@model List<EmployeeTask>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_CrmLayout.cshtml";
    int count = 0;
}

<h3>Görev Listesi</h3>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Başlık</th>
        <th>Durum</th>
        <th>Tarih</th>
        <th>Personel</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Detaylar</th>
    </tr>
    @foreach (var item in Model)
    {
        count++;
        <tr>
            <td>@count</td>
            <td>@item.Title</td>
            <td>@item.Status</td>
            <td>@item.Date.ToString("dd.MM.yyyy")</td>
            <td>@item.AppUser.Name @item.AppUser.Surname</td>
            <td><a href="#" class="btn btn-outline-danger">Sil</a></td>
            <td><a href="#" class="btn btn-outline-success">Güncelle</a></td>
            <td><a href="#" class="btn btn-outline-dark">Detaylar</a></td>

        </tr>
    }
</table>
<a href="/EmployeeTask/AddTask" class="btn btn-outline-info">Yeni Görev Girşi</a>
